header, main {
  padding: .5rem;
}

.image {
  max-width: 14rem;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.sub-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.space {
  gap: .5rem;
  padding: .5rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.error-message {
  text-align: center;
  padding: 1rem;
  border: 1px solid #f00;
  background: #ffe6e6;
  color: #d80000;
  border-radius: 5px;
}

.actions {
  display: flex;
  justify-content: center; 
  gap: 0.5rem;
}

.centered-table .p-column-header-content {
  display: block;
  text-align: center;
}

.centered-table .p-datatable-tbody > tr > td {
  text-align: center;
}

